:root {
    --color-primary-dark: #0F0F0F;
    --color-primary: #1C1C1C;
    --color-secondary: #1c6fec;
    --color-accent: #007ecc;
}

.play-regular {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.play-bold {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-primary-dark);
}

section.hero    {
    height: 100vh;
}

.main-container {
    background-image: url(images/vecteezy_ai-generated-minimalist-designs-background_42198333.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.animated-text-container {
    align-content: center;
    font-size: clamp(32px, min(4vw, 2em), 2em);
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.tech-icons {
    font-size: clamp(36px, min(4vw, 2em), 2em);
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    color:rgb(188, 223, 253);
    text-shadow: 2px 1px #444343;
}

.accordion-button   {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}


:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  }

i:hover {
    transform: scale(1.2); /* Scale the icon up by 20% on hover */
}

.image-link {
    display: inline-block;
}

.project-image-container {
    overflow: hidden; /* Ensure the image doesn't overflow the container */
}

.card-img-top {
    width: 100%; /* Ensure the image fills the container */
    height: 100%; /* Ensure the image fills the container */
    transition: transform 0.3s; /* Add transition for smooth zoom effect */
}

.project-image-container:hover .card-img-top {
    transform: scale(1.3); /* Zoom the image by increasing its size */
    cursor: pointer; /* Change cursor to indicate interactivity */
}


@media (min-width: 600px) {
    
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around; /* Center vertically */
        align-items: center; /* Center horizontally */
        background-repeat: repeat;
        background-size: cover;
        min-height: 100%;
        height: fit-content;
    }

    .accordion  {
        width: 70%;
    }

    .accordion-header   {
        width: fit-content;
        margin: auto;
    }

    .animated-text-container {
        display: block;
        flex-direction:row;
        align-content: center;
        justify-content: center;
        font-size: clamp(16px, min(4vw, 2em), 2em);
        text-align: center;
        color: azure;
        margin-top: 10%;
    }

    .tech-icons {
        margin-top: 20px;

    }

    button:hover    {
        transform: scale(1.2); /* Scale the icon up by 20% on hover */
    }
}
